@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.inventory-item {
  &__label {
    @include tb-margin(0.3, 0.2);
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-text-color;
    @include text-style(0.688, 1, 400);

    &:after {
      content: ":";
    }
  }

  &--left {
    text-align: left;
    min-width: 50%;
  }
}

.item-container {
  @include flex-container(row, space-between, center);
}
