@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.entity {
  margin-top: 3rem;
  padding: 0.5rem 1.5rem;
  @include tablet {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    @include tb-padding(1, 1);
    @include lr-padding(2, 2);
  }

  &__block {
    &:first-child {
      margin-bottom: 1rem;
      @include tablet {
        margin-right: 5rem;
        width: 10rem;
      }
      @include desktop {
        margin-right: 12rem;
      }
    }
    &:last-child {
      display: flex;
      flex-direction: row;
      @include tablet {
        border-left: $divider-line;
        padding-left: 3rem;
      }
    }
  }

  &__details {
    &:first-child {
      margin-right: 1.5rem;
      @include tablet {
        margin-right: 2.5rem;
      }
      @include desktop {
        margin-right: 9rem;
      }
    }
  }

  &__title {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-text-color;
    @include text-style(0.688, 1, 400);
  }

  &__data {
    margin: 0;
    color: $primary-text-color;
    @include text-style(0.813, 1.25, 400);
  }
}
