@use "variables" as *;

@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

@mixin text-style($size, $line-height, $weight) {
  font-size: $size + rem;
  line-height: $line-height + rem;
  font-weight: $weight;
}

@mixin flex-container(
  $direction: column,
  $justify: space-between,
  $align: center
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin lr-padding($padding-left, $padding-right) {
  padding-left: $padding-left + rem;
  padding-right: $padding-right + rem;
}

@mixin tb-padding($padding-top, $padding-bottom) {
  padding-top: $padding-top + rem;
  padding-bottom: $padding-bottom + rem;
}

@mixin lr-margin($margin-left, $margin-right) {
  margin-left: $margin-left + rem;
  margin-right: $margin-right + rem;
}

@mixin tb-margin($margin-top, $margin-bottom) {
  margin-top: $margin-top + rem;
  margin-bottom: $margin-bottom + rem;
}

@mixin width-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin container {
  padding: 1rem 1rem;

  @include tablet {
    padding: 0 2rem;
  }

  @include desktop {
    padding: 0 8.5rem;
    margin: 0 auto;
    max-width: 1280px;
  }
}

@mixin custom-button {
  border-radius: $border-radius;
  font-size: 0.9rem;
  width: 100%;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include lr-padding(1, 1);
  cursor: pointer;
  @include tablet {
    height: 2.375rem;
  }
}

@mixin primary-button {
  @include custom-button;
  background-color: $primary-interactive-color;
  border: none;
  color: $primary-white-color;

  &:hover {
    background-color: $cta-button-color;
  }
}

@mixin secondary-button {
  @include custom-button;
  background-color: $primary-white-color;
  color: $secondary-text-color;
  border: $divider-line;

  &:hover {
    color: $primary-interactive-color;
    border: $hover-border;
  }
}

@mixin delete-button {
  border: none;
  @include custom-button;
  background-color: $delete-color;
  color: $primary-white-color;

  &:hover {
    background-color: $cta-button-color;
  }
}
@mixin text-field {
  border: $divider-line;
  border-radius: $border-radius;
  outline: none;
  @include container;
  &::placeholder {
    color: $secondary-text-color;
  }
  &:hover,
  &:focus,
  &:focus-visible {
    border: $hover-border;
  }
  @include tablet {
    height: 3rem;
  }
  @include desktop {
    margin: 0 0 1rem 0;
    @include lr-padding(2, 0);
  }
}
@mixin warehouse-card {
  border-top: $divider-line;
  border-bottom: $divider-line;
  @include tablet {
    @include flex-container(row, space-between, center);
    &:hover {
      background-color: $cta-background-color;
    }
  }
}
@mixin tag {
  height: 1.5rem;
  border-radius: $border-radius;
  @include lr-padding(0.5, 0.5);
  @include tablet {
    height: 1.625rem;
  }
}
@mixin out-stock {
  @include tag;
  background-color: rgba(201, 69, 21, 0.07);
  color: $out-stock-color;
  @include tablet {
    width: 5rem;
  }
}
@mixin in-stock {
  @include tag;
  background-color: rgba(21, 132, 99, 0.07);
  color: $in-stock-color;
  @include tablet {
    width: 5rem;
  }
}
@mixin form-input-error {
  border-color: $out-stock-color;
  &:focus,
  &:focus-visible {
    border-color: $out-stock-color;
  }
  @content;
}
