@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.list {
  margin-top: 1.5rem;
  @include container;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;

  &__main {
    @include warehouse-card;
    margin-bottom: 1rem;
    padding: 1rem 1.5rem;
    &--row {
      display: none;
    }
    @include tablet {
      display: none;
      width: 100%;
      padding: 0 2rem;
      &--row {
        display: flex;
        width: 100%;
        padding: 0 2rem;
      }
    }
  }

  &__details {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &--row {
      display: none;
    }

    @include tablet {
      display: none;
      &--row {
        display: flex;
        width: 100%;
        padding: 0 2rem;
      }
    }
  }

  &__thread {
    display: flex;
    height: 2.5rem;
    align-items: center;
    background-color: rgba($page-background-color, 0.7);
    padding: 0 2rem;
    display: none;
    @include tablet {
      display: flex;
    }
  }

  &__first {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__second {
    margin-right: 4rem;
  }

  &__title {
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
    font-weight: 400;
    text-transform: uppercase;
    color: $secondary-text-color;
    @include text-style(0.688, 1, 400);
    &--top {
      display: none;
    }

    @include tablet {
      display: none;
      &--top {
        width: 16.67%;
        display: flex;
      }
      &--actions {
        width: auto;
        text-align: right;
        margin-left: auto;
      }
    }
  }

  &__data {
    margin: 0;
    margin-bottom: 0.7rem;
    color: $primary-text-color;
    @include text-style(0.813, 1.25, 400);
    @include tablet {
      &--row {
        margin: 1rem 0;
        width: 16.67%;
      }
    }
  }

  &__status {
    text-transform: uppercase;
    @include text-style(0.688, 1, 400);
    @include in-stock;
    padding: 0.25rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    &--out {
      @include out-stock;
    }
    @include tablet {
      width: 4rem;
    }

    &--container {
      @include tablet {
        width: 16.67%;
      }
    }
  }

  &__link {
    padding-right: 1rem;
    text-decoration: none;
    color: $primary-interactive-color;
    background-image: url("../../assets/icons/chevron_right-24px.svg");
    background-repeat: no-repeat;
    background-position: 3.4rem -0.1rem;
    font-weight: 600;
  }

  &__buttons {
    height: 1.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;

    &--row {
      display: none;
    }
    @include tablet {
      display: none;
      &--row {
        display: flex;
        justify-content: flex-start;
        width: auto;
        margin: auto 0 auto auto;
      }
    }
  }
  &__delete {
    border: none;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../../assets/icons/delete_outline-24px.svg");
    background-repeat: no-repeat;
    @include tablet {
      margin-right: 1rem;
    }
  }

  &__edit {
    border: none;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../../assets/icons/edit-24px.svg");
    background-repeat: no-repeat;
  }
}
